/* Element tags */
/* h1: Big blocks full of text
   h2: Smaller text blocks 
   h3: Image captions*/

html {
    background-image: url(Photos/backgroundPic.avif);
    background-size: 85%;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    margin-top: 10%;
    margin-bottom: 0%;
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-indent: 15px;
    color:black;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 0px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-indent: 25px;
}

/* Class tags */
.container {
    display: flex;
}

.block {
    display: block;
}

.subheading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-indent: 5px;
    padding-bottom: 0px;
}

.yellow {
    color: #ffde59;
    background-color: #004aad;
    padding-bottom: 20px;
    margin: 0;
}

.navButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 15px;
    margin: 20px 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #004aad;
    transition: all 0.5s ease 0s;
}

.navButton:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgb(63, 63, 63);
}

.navButton:active {
    background-color: #0060de;
}

.details {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 2;
}

.buttons {
    display: none;
}

/* ID tags */
#intro {
    margin: 3% 10% 0% 10%;
    transition: all 1s ease 0s;
    animation: slideInLeft 0.8s;
}

#passport {
    width: 50%;
}

#introPaper {
    width: 355px;
    height: 355px;
    padding: 7.5%;
    background-image: url(Photos/paperPic.png);
}

#openPassportButton {
    padding: 10px;
    font-size: 14px;
    margin: 5px;
}

#profile {
    display: none;
    background-color:#fffdfd;
    color: black;
    border: 30px solid #004aad;
    border-radius: 23px;
    margin: 3% 15%;
    box-shadow: 10px 10px 20px rgb(63, 63, 63);
}

#profile .container {
    margin: 10px 70px;
}

#headshot {
    width: 260px;
    margin: 50px 20px 10px 0px;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgb(63, 63, 63);
}

#experience {
    margin: 5px 70px;
}

/* Keyframes */
@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -1000;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(800px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-1000px);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeBackground {
    from {
        background-image: url("Photos/backgroundPic.avif");
    }
    to {
        background-image: url("Photos/blankBackground.jpg");
    }
}